.Header {
  //   background: #fff;
  width: calc(100vw - 350px);
  margin-left: 350px;
  position: absolute;
  top: 20px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  &-searchArea {
    background: #fff;
    display: flex;
    align-items: center;
    width: 500px;
    padding: 5px 20px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;

    &-searchBtn {
      color: #34495e;
    }

    &-inputField {
      background: transparent;
      border: none;
      color: #34495e;
      margin-left: 25px;
      cursor: pointer;
      outline: none;
      width: 100%;
    }
  }

  &-userArea {
    height: 100%;
    display: flex;

    &-notifications {
      background: #fff;
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin-right: 20px;
    }

    &-info {
      height: 100%;
      background: #fff;
      width: 170px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;

      &-pp {
        width: 30px;
        height: 30px;

        &Img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &-name {
        font-size: 12px;
        font-weight: 600;
      }

      &-icon {
        cursor: pointer;
      }
    }
  }
}
